doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=ISO-8859-1')
    meta(name='viewport', content='width=device-width')
    title Bespoke.js
    meta(content='Bespoke.js', property='og:title')
    meta(content='Bespoke.js', property='og:site_name')
    meta(content='http://markdalgleish.com/projects/bespoke.js/', property='og:url')
    meta(content='website', property='og:type')
    link(rel='stylesheet', type='text/css', href='./Bespoke.js_files/style.css')
    link(rel='stylesheet', type='text/css', href='./Bespoke.js_files/themes.css')
    link(href='./Bespoke.js_files/css', rel='stylesheet', type='text/css')
  body.cube
    #main
      header
        p.hidden
          span#input-method Tekan arah panah atas dan bawah 
          | untuk mengganti mode tampilan.
      #title
        a(href='katakana.html')
          span Augmented Reality
      p#second
        ul
          li a-column 
          li i-column 
          li u-column 
          li e-column 
          li
            | o-column
            span#dummy
            article.bespoke
              section#mix
                a.satu(href='#', onclick="playSound('./sound/a.mp3');")
                  b Team 2 
                h6
                  br
                  | Putri Simangunsong
                  br
                  |  (151110661)
                h6
                  br
                  | Novita Marpaung 
                  br
                  | (151110661)
              section#mix
                a(href='#')
                  b Pengertian
                h6
                  | Augmented Reality (AR) adalah menggabungkan dunia nyata dan virtual, bersifat interaktif secara realtime, dan merupakan animasi 3D.
              section#mix
                a(href='#') wkwkwkwk 
                h6
                  | Teknologi AR ini biasanya digunakan dibidang militer, medis dan manufaktur. Contoh yang sering digunakan oleh pengguna adalah Google Translate.
              section#mix
                a(href='#') wkwkwkwk 
                h5 ehehheheheheheheheh
              section#mix
                a(href='#') wkwkwkwk 
                h5 ehehheheheheheheheh
              section#mix
                a(href='#') wkwkwkwk 
                h5 ehehheheheheheheheh
              section#mix
                a(href='#') wkwkwkwk 
                h5 ehehheheheheheheheh
              section#mix
                a(href='#') wkwkwkwk 
                h5 ehehheheheheheheheh
              section#mix
                a(href='#') wkwkwkwk 
                h5 ehehheheheheheheheh
              section#mix
                a(href='#') wkwkwkwk 
                h5 ehehheheheheheheheh
      footer
        .themes
          p
            strong
              | MODE VIEW
              span.colon :
            span#theme Cube
          #up-arrow.up.arrow ^
          #down-arrow.down.arrow ^
      script(src='./Bespoke.js_files/bespoke.min.js')
      script(src='./Bespoke.js_files/demo.js')
      script(src='./Bespoke.js_files/sound.js')
