doctype html
html
  meta(http-equiv='Content-Type', content='text/html; charset=ISO-8859-1')
  meta(name='viewport', content='width=device-width')
  title Bespoke.js
  meta(content='Bespoke.js', property='og:title')
  meta(content='Bespoke.js', property='og:site_name')
  meta(content='http://markdalgleish.com/projects/bespoke.js/', property='og:url')
  meta(content='website', property='og:type')
  link(rel='stylesheet', type='text/css', href='./Bespoke.js_files/style.css')
  link(rel='stylesheet', type='text/css', href='./Bespoke.js_files/themes.css')
  link(href='./Bespoke.js_files/css', rel='stylesheet', type='text/css')
  body.cube
    #main
      header
        p.hidden
          span#input-method Tekan arah panah atas dan bawah 
          | untuk mengganti mode tampilan.
      #title
        a(href='katakana.html')
          span Augmented Reality
      p#second
        ul
          li a-column 
          li i-column 
          li u-column 
          li e-column 
          li
            | o-column
            span#dummy
            article.bespoke
              section#mix
                a.satu(href='#', onclick="playSound('./sound/a.mp3');")
                  b Team 2 
                h6
                  br
                  | Putri Simangunsong
                  br
                  |  (151110661)
                h6
                  br
                  | Novita Marpaung 
                  br
                  | (151110661)
              section#mix
                a(href='#')
                  b Pengertian
                h6
                  | Augmented Reality (AR) adalah menggabungkan dunia nyata dan virtual, bersifat interaktif secara realtime, dan merupakan animasi 3D.
              section#mix
                h6
                  | Teknologi AR ini biasanya digunakan dibidang militer, medis, dan game . Contoh yang sering digunakan oleh pengguna adalah Wikitude
                  img(src='images/5.jpg')
              section#mix
                img(src='images/3.jpeg')
              section#mix
                a(href='#')
                  b Metode Augmented Reality 
                h6
                  | Metode yang dikembangkan pada Augmented Reality saat ini terbagi menjadi dua metode, yaitu
              section#mix
                h6
                  | 1. Marker Augmented Reality (Marker Based Tracking)
                  br
                  | Marker biasanya merupakan ilustrasi hitam dan putih persegi dengan batas hitam tebal dan latar belakang putih. Komputer akan mengenali posisi dan orientasi marker dan menciptakan dunia virtual 3D yaitu titik (0,0,0) dan tiga sumbu yaitu X, Y, dan Z.
              section#mix
                img(src='images/1.jpg')
              section#mix
                h6
                  | 2. Markerless Augmented Reality
                  br
                  | dengan metode ini pengguna tidak perlu lagi menggunakan marker untuk menampilkan elemen-elemen digital.namun aplikasi tetap berjalan dengan melakukan pemindaian terhadap object, namun ruang lingkup yang dipindai lebih luas dibanding dengan marker AR.
              section#mix
                img(src='images/2.jpg')
              section#mix
                a(href='#') wkwkwkwk 
                h5 ehehheheheheheheheh
              section#mix
                a(href='#') wkwkwkwk 
                h5 ehehheheheheheheheh
              section#mix
                a(href='#') wkwkwkwk 
                h5 ehehheheheheheheheh
              section#mix
                a(href='#') wkwkwkwk 
                h5 ehehheheheheheheheh
      footer
        .themes
          p
            strong
              | MODE VIEW
              span.colon :
            span#theme Cube
          #up-arrow.up.arrow ^
          #down-arrow.down.arrow ^
      script(src='./Bespoke.js_files/bespoke.min.js')
      script(src='./Bespoke.js_files/demo.js')
      script(src='./Bespoke.js_files/sound.js')
